@model SuperFarmer.Models.Game

<h2>Tura: @Model.CurrentRound</h2>
<h3>Kolej gracza`: @Model.CurrentPlayer.Index</h3>


<h4>Twoje zwierzęta:</h4>
<ul>
    @foreach (var animal in Model.CurrentPlayer.Animals)
    {
        <li>@animal.Key: @animal.Value</li>
    }
</ul>

<form asp-action="RollDice" method="post">
    <button type="submit">🎲 Roll a Dice</button>
</form>


<form asp-action="NextTurn" method="post">
    <button type="submit">Next player</button>
</form>