@model SuperFarmer.Models.Game
@{
    var winnerIndex = (int)ViewBag.WinnerIndex;
    var winner = Model.Winner;
}

<div class="text-center mt-5">
    <h2>Gracz @winnerIndex wygrał grę!</h2>
    <p>Posiada po jednej sztuce każdego głównego zwierzęcia.</p>

    <form asp-action="RemoveWinner" method="post">
        <input type="hidden" name="winnerIndex" value="@winnerIndex" />
        <button type="submit" class="btn btn-primary btn-lg mt-3">Kontynuuj grę bez tego gracza</button>
    </form>
</div>